$base-color: #173F5F;
$title-color: #20639B;
$font-color: #161616;
$body-color: #e6e6e6;
$grey-color: #adb5bd;

$default-font-size: 16px;
$post-title-font-size: 24px;

$app-name-font-family: 'Kdam Thmor Pro', sans-serif;
$text-font-family: 'Roboto Slab', serif;

$border-radius: 7px;
$input-border-radius: 5px;

$page-base-padding: 25px;

$text-line-height: 1.7;
